/*

MISCALLANEOUS BITS
===============

General stuff that doesn't particularly fit anywhere else but is still a legitimate site style 
This is not for hacks

*/

ul, ol {
	margin: 0 0 1.5em 0;
	}

img,
a img {
	max-width: 100%;
	}


blockquote {

	cite {

		}
	}

figure, img {

	}

figure {

	figcaption {

		}
	}

[type=submit] {
	cursor: pointer;
	}