// First we import Grid stuff, you shouldn't need to edit the grid.scss file
@import	"grid";

// Any other layout styles can go below
body {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	@include rgba-background($orange, 0.5);
	}